body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0a0a12; /* Dark navy/black shade */
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  text-align: center;
}

.projects, .skills {
  
  width: 100%;
  vertical-align: top;
   margin: 2.5%; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-top: 10px;
}

form input, form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

footer {
  background-color: #0a0a12; 
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  bottom: 0;
}
